<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
      <div id="app">
          {{ message }}
          
          <button v-on:click="markRead" v-bind:title="buttonTitle">OK, cool</button>
          <span v-if="read">I see that you have read the message.</span>

          <h1>Things to Learn today</h1>

          <div style="color: red">{{validation}}</div>
                                     
          <ol>
            <todo-item v-for="item in todos"
                       v-bind:todo="item"
                       v-bind:key="item.id"
                       />
          <ol>

          <input  v-model:value="newItem" placholder="another thing to do today"/>  
          <button v-on:click="addItem" v-bind:title="buttonTitle">Add</button>
            
      </div>



      <script src="index.js"></script>            
    </body>
</html>
